---
import { Icon } from 'astro-icon/components'

interface Props {
    title: string;
    icon: string;
    iconSize?: number;
    desc?: string;
}

const {
    title,
    icon,
    iconSize = 24,
    desc,
}: Props = Astro.props;

const description = desc || title;
---
<div class="flex flex-nowrap items-center justify-start p-2 border border-gray-200 rounded-lg">
    <div>
        <Icon name={icon} size={iconSize} title={title} desc={description}/>
    </div>
    <div class="ml-2">
        <span>{title}</span>
    </div>
</div>
